@media screen and (max-width:600px){
    body{
        background-color: #6c5b75;
    }
    #new-btn{
        font-size:2.5vw;
        height:10vmin;
    }
    #reset-btn{
        font-size: 2.5vw;
        height:10vmin;
    }
    .btn{
        font-size: 4vw;
    }
}